<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceshi.dao.TestDataDao">
    <resultMap id="BaseResultMap" type="com.ceshi.entity.TestData">
        <!--@mbg.generated-->
        <!--@Table test_data-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="test_pass" jdbcType="VARCHAR" property="testPass"/>
        <result column="test_skip" jdbcType="VARCHAR" property="testSkip"/>
        <result column="test_all" jdbcType="VARCHAR" property="testAll"/>
        <result column="tests_fail" jdbcType="VARCHAR" property="testsFail"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="running_time" jdbcType="VARCHAR" property="runningTime"/>
        <result column="case_name" jdbcType="VARCHAR" property="caseName"/>
        <result column="case_result" jdbcType="VARCHAR" property="caseResult"/>
        <result column="creation_time" jdbcType="VARCHAR" property="creationTime"/>
        <result column="modification_time" jdbcType="VARCHAR" property="modificationTime"/>
        <result column="is_it_deleted" jdbcType="VARCHAR" property="isItDeleted"/>
    </resultMap>


    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ceshi.entity.TestData"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into test_data (test_pass, test_skip, test_all,
        tests_fail, start_time, running_time,
        case_name, case_result, creation_time,
        modification_time, is_it_deleted)
        values (#{testPass,jdbcType=VARCHAR}, #{testSkip,jdbcType=VARCHAR}, #{testAll,jdbcType=VARCHAR},
        #{testsFail,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{runningTime,jdbcType=VARCHAR},
        #{caseName,jdbcType=VARCHAR}, #{caseResult,jdbcType=VARCHAR}, #{creationTime,jdbcType=VARCHAR},
        #{modificationTime,jdbcType=VARCHAR}, #{isItDeleted,jdbcType=VARCHAR})
    </insert>


    <insert id="SendCode">
  		INSERT INTO test_data(test_pass,test_skip,test_all,tests_fail) VALUES ('1','2','3','4')
  	  </insert>

    <select id="details" resultMap="BaseResultMap">
        SELECT * from test_data where id = #{testDataId} and is_it_deleted = '0'
  </select>

    <select id="queryall" resultMap="BaseResultMap">
        SELECT * from test_data where is_it_deleted = '0' order by creation_time desc
    </select>



    <delete id="deleteCase" parameterType="com.ceshi.entity.TestData">
        DELETE FROM test_data WHERE id = #{id}
    </delete>


</mapper>